@using MudBlazor

@inherits LayoutComponentBase

<MudThemeProvider Theme="@_theme" IsDarkMode="true" />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />
<MudLayout>
    <MudAppBar Elevation="1" Class="d-flex align-items-center">
        <a href="https://linktr.ee/jackquentinforde" target="_blank" rel="noopener noreferrer" style="display:inline-block;">
            <img src="images/84769876.png" alt="Logo" style="height:40px; width:40px; border-radius:50%; object-fit:cover;" />
        </a>

        <MudSpacer />

        <MudIconButton Icon="@Icons.Custom.Brands.X" Color="Color.Inherit"
                       Href="https://x.com/LowPolyJackDev" Target="_blank" Size="Size.Medium" />
        <MudIconButton Icon="@Icons.Custom.Brands.LinkedIn" Color="Color.Inherit"
                       Href="https://www.linkedin.com/in/jack-forde-125787158/" Target="_blank" Size="Size.Medium" />
        <MudIconButton Icon="@Icons.Custom.Brands.GitHub" Color="Color.Inherit"
                       Href="https://github.com/JackQuentinForde" Target="_blank" Size="Size.Medium" />
        <MudIconButton Icon="@Icons.Material.Filled.ViewInAr" Color="Color.Inherit"
                       Href="https://sketchfab.com/JackQuentinForde" Target="_blank" Size="Size.Medium" />
        <MudIconButton Icon="@Icons.Material.Filled.SportsEsports" Color="Color.Inherit"
                       Href="https://lowpolyjack.itch.io/" Target="_blank" Size="Size.Medium" />
    </MudAppBar>
    <MudMainContent Class="pt-16 pa-4">
        @Body
    </MudMainContent>
</MudLayout>


<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code {
    private MudTheme? _theme = null;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        _theme = new()
        {
            PaletteDark = _darkPalette,
            LayoutProperties = new LayoutProperties()
        };
    }

    private readonly PaletteDark _darkPalette = new()
    {
        Primary = "#ff185d",
        Secondary = "#28b67d",
        Tertiary = "#3559db",
        Surface = "#1e1e2d",
        Background = "#131313",
        BackgroundGray = "#151521",
        AppbarText = "#92929f",
        AppbarBackground = "rgba(26,26,39,0.8)",
        DrawerBackground = "#1a1a27",
        ActionDefault = "#74718e",
        ActionDisabled = "#9999994d",
        ActionDisabledBackground = "#605f6d4d",
        TextPrimary = "#b2b0bf",
        TextSecondary = "#92929f",
        TextDisabled = "#ffffff33",
        DrawerIcon = "#92929f",
        DrawerText = "#92929f",
        GrayLight = "#2a2833",
        GrayLighter = "#1e1e2d",
        Info = "#4a86ff",
        Success = "#3dcb6c",
        Warning = "#ffb545",
        Error = "#ff3f5f",
        LinesDefault = "#33323e",
        TableLines = "#33323e",
        Divider = "#292838",
        OverlayLight = "#1e1e2d80",
    };

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("hideLoader");
        }
    }

    [Inject] private IJSRuntime JS { get; set; } = default!;
}


